<div class="my-3 mx-4"> 
    <h2>
       Introduction
</h2>
    <br>
    <div class="row">
        <div class="col-md-6" id="id1">
            <p>RxJS is a library for composing asynchronous and event-based programs by using observable sequences. It provides one core type, the Observable, satellite types (Observer, Schedulers, Subjects) and operators inspired by Array#extras (map, filter, reduce, every, etc) to allow handling asynchronous events as collections.</p>
        </div>
        <div class="col-md-6" id="id2">
            <span>O</span>
            <span>B</span>
            <span>S</span>
            <span>E</span>
            <span>R</span>
            <span>V</span>
            <span>A</span>
            <span>B</span>
            <span>L</span>
            <span>E</span>
            <a class="nav-link" id="id5" routerLink="observables" (click)="onClick()">Click here to learn</a>
            
        </div>
        <div class="row">
            <div class="col-md-6" id="id3">
                <p>The essential concepts in RxJS which solve async event management are:<br>

              <strong>Observable:</strong> represents the idea of an invokable collection of future values or events.<br>
                  <strong>Observer:</strong>   is a collection of callbacks that knows how to listen to values delivered by the Observable.<br>
                  <strong>Subscription: </strong>  represents the execution of an Observable, is primarily useful for cancelling the execution.<br>
                  <strong>Operators:</strong>   are pure functions that enable a functional programming style of dealing with collections with operations like map, filter, concat, reduce, etc.<br>
                  <strong>Subject: </strong>  is the equivalent to an EventEmitter, and the only way of multicasting a value or event to multiple Observers.</p>
           
                </div>
           <div class="col-md-4" id="id4">
            <img class="img1" src="https://miro.medium.com/max/1050/1*HeOwc9fteR4oiVheE7qnAg.png" alt="image not found">
           </div>
        </div>
    </div>
    
    <!-- <p><strong>{{promiseval}}</strong></p> -->
    <!-- <button class="btn btn-success" (click)='myFunction()'>Click Me</button> -->
</div>
