ul.video-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.video-list li{
    background-color: rgb(236, 65, 193);
    border: 1px solid pink;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}