<div class="py-3 mx-3"><h2>
    Map
</h2>
<br>
<div class="row">
    <div class="col-md-4">
<strong>Example-01</strong>
<hr>
<p class="bg-light border rounded py-3 px-2">
    <strong>
        Map:
    </strong>'video'+data
</p>

<hr>
<p>Message<strong class="text-success">{{msg1}}</strong></p>
    </div>
    <div class="col-md-4">
        <strong>Example-02</strong>
        <hr>
        <p class="bg-light border rounded py-3 px-2">
            <strong>
                Map:
            </strong>Map Data=>data*3
        </p>
        
        <hr>
        <p>{{msg2}}</p>
            </div>
            <div class="col-md-4">
                <strong>Example-03</strong>
                <hr>
                <p class="bg-light border rounded py-3 px-2">
                    <strong>
                        Map:
                    </strong>Map Data=>names
                </p>
                
                <hr>
                <ul id="elContainer"></ul>
                    </div>
</div></div>
