<div class="my-3 mx-3">
    <h2>Take</h2>
    <br>
    <p class="py-3 px-2 border rounded bg-light d-inline-block"><em>random names:</em>'hey','how','are','you','?','I','am','good','how','about','you','?'</p>
    <div class="row">
        
        <div class="col-md-4">
            <strong>ex-01</strong>Take(5)
            <hr>
            <ul id="elContainer1">

            </ul>
        </div>
        <div class="col-md-4">
            <strong>ex-02</strong>Take Last
            <hr>
            <ul id="elContainer2">
                
            </ul>
        </div>
        <div class="col-md-4">
            <strong>ex-03</strong>Take untill
            <hr>
            <ul id="elContainer3">
                
            </ul>
        </div>
    </div>
</div>
