<div class="my-3 mx-3">
    <h3 [ngStyle]="{'color':'#843784'}">From Event(<span class="badge-warning">Keep on clicking  add button to visualize the stream of observables</span>)<br>
        <em>This creates an Observable that emits events of a specific type coming from the given event target.</em>)</h3>
    <br>
    <div class="row">
        <div class="col-md-4">
        
            <div class="card">
                <div class="card-header">
                    Add Video
                </div>
                <div class="card-body">
                    <button #addBtn class="btn btn-warning">Add</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            
             <div class="card">
                <div class="card-header">
                List
                </div>
                <div class="card-body">
                    <ul id="elContainer">
                       
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            
            <div class="card">
               <div class="card-header">
               List
               </div>
               <div class="card-body">
                   <ul id="elContainer2">
                      
                   </ul>
               </div>
           </div>
           
       </div>
    </div>
        
    </div>

