ul.list{
    list-style-type: none;
    margin: 40px 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
ul.list li{
    width:calc(25% - 20px);
    margin:10px;
}


ul.list li a{
    background-color: #f8f8f8;
    border:2px solid  #f526c1;
    border-radius: 10px;
    color: #8f1f57;
    transition: .3s ease all;
    line-height: 1;
    margin: 3px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
ul.list li a:hover{
    background:#e3f2fd;
    color: #eb0c95;
    box-shadow: 0 0 60px #e04392 inset;
    text-decoration: none;

}