<div class="row">
    <div class="col-md-12">
        <ul class="list">
            
            <li><a routerLink="fromEvent">FromEvent</a></li>
            <li><a routerLink="interval">Interval</a></li>
            <li><a routerLink="of-from">Of and From</a></li>
            <li><a routerLink="toArray">ToArray</a></li>
            <li><a routerLink="custom">Custom Observable</a></li>
            <li><a routerLink="map">Map</a></li>
            <li><a routerLink="pluck">Pluck</a></li>
            <li><a routerLink="filter">Filter</a></li>
            <li><a routerLink="tap">Tap</a></li>
            <li><a routerLink="take">Take</a></li>
            <li><a routerLink="retry">Retry</a></li>
            <li><a routerLink="debounce">Debounce</a></li>
            <li><a routerLink="subject">Subject</a></li>
            <li><a routerLink="replaySubject">Replay-Subject</a></li>
            <li><a routerLink="asyncSubject">Async-Subject</a></li>
            <li><a routerLink="switchMap">Switch Map</a></li>
            <li><a routerLink="switchMapSearch">Switch Map- Search </a></li>
           
           
        </ul>
    </div>
</div>
