<div class="my-3 mx-3">
    <h2>Switch Map-search</h2>
    <br>
    <h5>Search Videos</h5>
    <form #searchForm="ngForm"><div class="mt-3">
        <input type="text" class="form-control form-control-lg" required name="searchTerm" ngModel>
    </div></form>
    
    <br>
    <hr>
    <br>
    <div class="reults">
        <div class="d-flex">
            <h5>Search Results</h5>
            <span class="ml-auto text-muted">{{searchResultsCount}} results found..</span>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ThumbNail</th>
                <th scope="col">Title and Description</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of searchResults; index as i"> 
                <th scope="row">{{i+1}}</th>
                <td><img src="{{item.thumb}}" width="120"></td>
                <td><strong>
                 {{item.title}}
                </strong><p>{{item.description}}</p></td>
              
              </tr>
              
              
            </tbody>
          </table>
       
    </div>
        
</div>
