<div class="my-3 mx-3">
    <h2>Of and From</h2>
    <br>
    <strong>Example-01(Of)</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class=" bg-light py-2 px-3 border rounded">
                <strong>Data:</strong>of('vibhu','Jatin','Manisha','Sugu','Shivani')</p>
            <hr>
            <ul id="elContainer">

            </ul>
        </div>
        <div class="col-md-6">
            <p class=" bg-light py-2 px-3 border rounded">
                <strong>Data:</strong>of(&#123;a:'vibhu',b:'Jatin',c:'Manisha',d:'Sugu',e:'Shivani'&#125;)</p>
            <hr>
            <ul id="elContainer1">

            </ul>
        </div>
    </div>
</div>
